* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  min-height: 100vh;
  background: #0f172a;
  color: white;
}

.hero {
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.45)),
    url("https://images.unsplash.com/photo-1560518883-ce09059eeffa?auto=format&fit=crop&w=1600&q=80");
  background-size: cover;
  background-position: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.register-btn {
  background: #6d5dfc;
  padding: 8px 20px;
  border-radius: 8px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  text-align: center;
}

.hero-content h1 {
  font-size: 55px;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 18px;
  color: #ddd;
  margin-bottom: 35px;
}

.hero-btn {
  width: 300px;
  height: 55px;
  background: #6d5dfc;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.hero-btn:hover {
  background: #5848f5;
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .navbar {
    padding: 20px;
    flex-direction: column;
    gap: 15px;
  }

  .menu {
    flex
